apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      volumes:
      - name: config-volume
        configMap:
          name: frontend-configmap
      containers:
      - name: frontend
        image: rdddocker/favm_frontend
        imagePullPolicy: Never
        resources:
          limits:
            memory: "512Mi"
            cpu: "1"
        ports:
        - containerPort: 80
        env:
        - name: VUE_APP_API_BACKEND
          value: fastapi-service
        - name: VUE_APP_TITLE
          value: okteto kubernates runner
        volumeMounts:
          - name: config-volume
            mountPath: /usr/share/nginx/html/static/config.js
            subPath: config.js
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend-service
spec:
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: frontend